*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
  position: relative;
 min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

/* DARK + GRADIENT OVERLAY */
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(11, 15, 25, 0.9) 0%,
    rgba(11, 15, 25, 0.75) 45%,
    rgba(11, 15, 25, 0.3) 100%
  );
  z-index: 1;
}


.hero-container {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  padding-left: 120px;
}


/* CONTENT */
.hero-content {
  max-width: 520px;
}

.hero-content h1 {
  font-size: 70px;
  line-height: 1.1;
  color: #fff;
}

.hero-content h1 span {
  color: #b9c7ff;
}

.hero-content p {
  margin-top: 18px;
  font-size: 18px;
  line-height: 1.6;
  color: #c9cbe2;
}

/* BUTTONS */
.hero-buttons {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}

.btn-primary {
  padding: 14px 26px;
  background: linear-gradient(135deg, #6e7bff, #8b5cf6);
  border: none;
  border-radius: 999px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 25px rgba(139, 92, 246, 0.5);
}

.btn-secondary {
  padding: 14px 26px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 999px;
  color: #fff;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero {
    background-position: center;
  }

  .hero-content h1 {
    font-size: 40px;
  }
}
