.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 84px;
  height: 100vh;

  padding: 24px 0;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.02)
  );


  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  border-right: 1px solid rgba(255, 255, 255, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 999;
}
.sidebar h2{
  font-size: 15px;
}

.sidebar nav {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.nav-item {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 14px;
  cursor: pointer;
}

.nav-item svg {
  width: 22px;
  height: 22px;
  color: rgba(255, 255, 255, 0.75);
}

.nav-item.active {
  background: linear-gradient(
    135deg,
    rgba(167, 139, 250, 0.45),
    rgba(192, 132, 252, 0.45)
  );

  box-shadow: 0 0 22px rgba(167, 139, 250, 0.55);
}

.nav-item.active svg {
  color: #ffffff;
}

.nav-item span {
  display: none;
}
